html,
body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/water.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}