html,
body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #ffffff, #d1e8e9); */
  font-family: 'Monaco', sans-serif;
  background-image: url('img/water.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 80%;
  height: 80%;
  border: 10px solid #577a92;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.floral_top1 {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

.floral_bot1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  object-fit: cover;
  /* Ensures the image covers the container and crops as needed */
  z-index: 1;
  /* Make sure the image appears above the container */
}

.floral_bot2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  object-fit: cover;
  /* Ensures the image covers the container and crops as needed */
  z-index: 1;
  /* Make sure the image appears above the container */
}

@media (min-width: 320px) {
  body .floral_top1 {
    width: 60%;
  }
  body .floral_bot2 {
    width: 40%;
  }

  body .floral_bot1 {
    width: 40%;
  }

}

/* @media (min-width: 1200px) {
  body img {
    width: 30%;
  }

  .con-top img {
    width: 30%;
  }
} */

.container .con-top {
  z-index: 2;
  /* margin-bottom: 50px; */
  /* align this on top-middle */
  position: relative;
  /* top: 10%;
  left: 50%;
  transform: translateX(-50%); */
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.con-top .title{
  position:absolute;
  width: 100%;
  bottom: 0;
}

.con-top .quote{
  position:absolute;
  top: 5%;
  right: 5%;
  width: 60%;
}

.container .con-mid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 20%;
  padding: 5% 0%;
}


form{
  position: relative;
  top: 10%;
  width: 50%;
}

label {
  /* position: absolute; */
  display: block;
  text-align: left;
  color: #577a92;
  font-size: 130%;
  font-weight: bold;
}


input {
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #577a92;
  width: 100%;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  /* enlarge the text */
  font-size: 200%;
}

button {
  margin-top: 10px;
  padding: 10px 10px;
  background-color: #577a92;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 70%;
  height: 30%;
  /* adjust text size */
  font-size: 130%;

}

button:hover {
  background-color: #7f52a8;
}

.container .con-bot{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40%;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(168, 103, 19);
}

.con-bot .top-frame{
  position: relative; 
  bottom: 5%;
  width: 70%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  /* make it more lower from the button */
  margin-top: 10%;
}
.con-bot .bot-frame{
  transform: rotate(180deg);
  position: relative; 
  top: 0;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  margin-top: 5%;
  width: 70%;

  
}
.con-bot p{
  padding: 0 15%;
  color: #3b291e;
  font-size: 130%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#popup {
  width: 500px; 
  height: 300px; 
}



.popup-icon {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
}

.retry_btn{
  margin-top: 10px;
  padding: 10px 10px;
  background-color: white;
  color: #577a92;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  height: 20%;
  /* adjust text size */
  font-size: 130%;
}